# To access cnn-model on Gemfury
--extra-index-url https://1rixx8-LlpxT5bACawGTxOVQweTNAJzKbg:@pypi.fury.io/realmanisingh/

fastapi==0.61.1
uvicorn==0.11.8
python-multipart==0.0.5
pytest==6.0.1
Pillow==7.0.0

# CNN model hosted on Gemfury
cnn_model==1.0.0